
  <!-- Footer -->
  <footer id="contact">
    <div class="container">
      <div class="row text-center text-md-start ">
        <div class="col-md-4  mb-md-0">
          <h5 class="text-white fw-semibold">Bright Choice Solutions</h5>
          <p> Your Growth Our Priority</p>
        </div>
        <div class="col-md-4  mb-md-0">
          <h5 class="text-white fw-semibold ">Our contacts</h5>
          <ul class="list-unstyled">
            <li><a href="tel:0757553544">0757553544</a></li>
            <li><a href="tel:0713957749">0713957749</a></li>
           
           
          
          </ul>
        </div>
         <div class="col-md-4  mb-md-0">
          <h5 class="text-white fw-semibold ">Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="/#products">Products</a></li>
            <li><a href="/careers/">Careers</a></li>
            <li><a href="/#hero">Home</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5 class="text-white fw-semibold">Email</h5>
          <p>Email: info@brightchoicesolutions.co.ke</p>
          
        </div>
      </div>
      <hr class="border-secondary">
      <div class="text-center text-secondary small text-white">
       © <script>document.write(new Date().getFullYear())</script> Bright Choice Solutions. All rights reserved. <br>
       <small>Designed by:Repotrans tech solutions.</small> <br>
       <small>Image Assets by freepik</small>
      </div>
    </div>
  </footer>