
  <!-- Footer -->
  <footer id="contact">
    <div class="container">
      <div class="row text-center text-md-start mb-4">
        <div class="col-md-4 mb-4 mb-md-0">
          <h5 class="text-white fw-semibold mb-3">Bright Choice Credit</h5>
          <p> Your one stop for financing soultions</p>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
          <h5 class="text-white fw-semibold mb-3">Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#products">Products</a></li>
            <li><a href="/careers/">Careers</a></li>
            <li><a href="#hero">Pricing</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5 class="text-white fw-semibold mb-3">Contact</h5>
          <p>Email: info@brightchoicecredit.co.ke</p>
          
        </div>
      </div>
      <hr class="border-secondary">
      <div class="text-center text-secondary small text-white">
       © <script>document.write(new Date().getFullYear())</script> Bright Choice Credit. All rights reserved.
      </div>
    </div>
  </footer>