

<header>
  
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
      <a class="navbar-brand text-primary" href="/">
       <img src="/images/logo.png" alt="bright choice logo" width="80" height="30"> Bright Choice</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <svg width="25" height="25">
          <path d="M0,5 30,5" stroke="#0079c1" stroke-width="2" />
          <path d="M0,14 30,14" stroke="#0079c1" stroke-width="2" />
          <path d="M0,23 30,23" stroke="#0079c1" stroke-width="2" />
        </svg>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto align-items-lg-center">
          <hr>
          <li class="nav-item px-3">
            <a class="nav-link text-primary" href="/#products">Loan products</a>
            
          </li>
           <hr>
          <li class="nav-item px-3">
            
            <a class="nav-link text-primary" href="/#why-us">Why us</a>
          </li>
           <hr>
             <li class="nav-item px-3">
            
            <a class="nav-link text-primary" href="/branches/">Branches</a>
          </li>
           <hr>
          <li class="nav-item px-3">
            
            <a class="nav-link text-primary" href="/careers/">Careers</a>
          </li>
       
        
        </ul>
      </div>
    </div>
  </nav>
</header>
